---
import Layout from "../../components/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const releases = await getCollection("releases");

  return releases.map((release) => ({
    params: { slug: release.id },
    props: { release }
  }));
}

const { release } = Astro.props;
const { Content } = await render(release);
---

<Layout>
  <h1>{release.data.title}</h1>

  {release.data.cover && <img src={release.data.cover} alt={release.data.title} />}

  <Content />

  {release.data.spotify && (
    <a href={release.data.spotify}>Spotify</a>
  )}

  {release.data.soundcloud && (
    <a href={release.data.soundcloud}>SoundCloud</a>
  )}
</Layout>