---
import Layout from "../../components/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const releases = await getCollection("releases");

  return releases.map((release) => ({
    params: { slug: release.slug },
    props: { release }
  }));
}

const { release } = Astro.props;
---

<Layout>
  <h1>{release.data.title}</h1>

  <img src={release.data.cover} alt={release.data.title} />

  <div set:html={release.body} />

  {release.data.spotify && (
    <a href={release.data.spotify}>Spotify</a>
  )}

  {release.data.soundcloud && (
    <a href={release.data.soundcloud}>SoundCloud</a>
  )}
</Layout>
